body {
  background-image: linear-gradient(
    rgba($color-flavor-background-1, 1),
    rgba($color-flavor-background-2, 1)
  );
}
header {
  height: 10vh;
}
main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
