.header {
  // background-image: linear-gradient(to right, rgba($color-secondary-light, 0.4), rgba($color-secondary-dark, 0.4));
  position: relative;
  margin: 0 auto;
  // border-bottom: 1px solid $color-grey-dark;
  
  &__text-box {
    padding-left: 2rem;
  }

  &__navigation {
    position: absolute;
    top: 2rem;
    right: 3rem;
  }
}
