.guesses {
  text-align: center;
  height: 62px;
}

.help-guess {
  font-family: "Prompt", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  margin: 1px;
  border: #d3d6da solid;
}

.letter {
  font-family: "Prompt", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 25px;
  width: 60px;
  height: 60px;
  background-color: white;
  color: black;
  margin: 1px;
  border: #d3d6da solid;
}

.letter-correct {
  background-color: #6aaa64;
  color: white;
  border: none;
}

.letter-incorrect {
  background-color: #787c7e;
  color: white;
  border: none;
}

.letter-present {
  background-color: #c9b458;
  color: white;
  border: none;
}

@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
  .guesses {
    height: 62px;
  }
  .letter {
    font-size: 26px;
    font-weight: bold;
    padding: 15px 15px;
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 492px) {
}
@media (max-width: 414px) {
  .title {
    font-size: 25px;
  }
  .guesses {
    height: 58px;
  }
  .letter {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 15px;
    width: 56px;
    height: 56px;
  }
}
