.guesses {
  text-align: center;
  height: 62px;
}

.help-guess {
  font-family: "Prompt", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  color: black;
  margin: 1px;
  border: #d3d6da solid;
}

.letter {
  font-family: "Prompt", sans-serif;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 25px;
  width: 60px;
  height: 60px;
  background-color: white;
  color: black;
  margin: 1px;
  border: #d3d6da solid;
}

.letter-correct {
  background-color: #6aaa64;
  color: white;
  border: none;
}

.letter-incorrect {
  background-color: #787c7e;
  color: white;
  border: none;
}

.letter-present {
  background-color: #c9b458;
  color: white;
  border: none;
}
.keyboard {
  /* text-align: center; */
}

.keyboard button {
  font-family: "Prompt", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  background-color: #eeeeee;
  border: none;
  width: 45px;
  height: 60px;
  /* padding: 14px 14px; */
  margin: 8px 2px 0 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.my-modal {
  position: fixed;
  top: 12%;
  left: 50%;
  /* transform: translate(-50%, -50%) scale(0); */
  /* transition: 1000ms ease-in-out; */
  border: none;
  z-index: 1;
  color: white;
  background-color: rgb(0, 0, 0);
  /* width: 20%; */
  max-width: 80%;
}
.my-modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.my-modal-body {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 0px 10px 2px 10px;
}
#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 300ms ease-in-out;
  pointer-events: none;
}
#overlay.active {
  pointer-events: all;
  opacity: 1;
}

/* @media (max-width: 720px) {

  .keyboard button {
    font-size: 16px;
    padding: 12px 12px;
    margin-bottom: 18px;
  }
} */
@media (max-width: 600px) {
  .title {
    font-size: 30px;
  }
  .keyboard button {
    font-size: 18px;
    width: 45px;
    height: 60px;
    /* padding: 14px 14px; */
    margin: 8px 2px 0 2px;
  }
  .guesses {
    height: 62px;
  }
  .letter {
    font-size: 26px;
    font-weight: bold;
    padding: 15px 15px;
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 492px) {
  .keyboard button {
    font-size: 15px;
    width: 40px;
    height: 55px;
    /* padding: 14px 14px; */
    margin: 8px 2px 0 2px;
  }
}
@media (max-width: 414px) {
  .title {
    font-size: 25px;
  }
  .keyboard button {
    font-size: 16px;
    padding: 11px;
    margin: 10px 2px 0px 2px;
  }
  .guesses {
    height: 58px;
  }
  .letter {
    font-size: 24px;
    font-weight: bold;
    padding: 15px 15px;
    width: 56px;
    height: 56px;
  }
}
